##### 177. Nth Highest Salary

##### Write a SQL query to get the nth highest salary from the Employee table. <br>
+----+--------+<br>
| Id | Salary |<br>
+----+--------+<br>
| 1 | 100 |<br>
| 2 | 200 |<br>
| 3 | 300 |<br>
+----+--------+<br>
For example, given the above Employee table, the nth highest salary where n = 2 is 200. If there is no nth highest salary, then the query should return null.<br>
+------------------------+<br>
| getNthHighestSalary(2) |<br>
+------------------------+<br>
| 200 |<br>
+------------------------+<br>

##### PySpark Solution

In [0]:
def nthHighestSalary(df, n):
  df_nth_highest_sal = (df_sal
                      .withColumn('rank', dense_rank().over(windowSpec))
                      .filter(col("rank") == n)
                      .withColumnRenamed("Salary", f"{n}th_HighestSalary")
                      .drop("Id")
                      .drop("rank")
                      )
  return df_nth_highest_sal

In [0]:
n = 5
display(nthHighestSalary(df_sal, n))

In [0]:
n = 3
display(nthHighestSalary(df_sal, n))