Table:Employee

| empId | name | supervisor| salary |
|-------|------|-----------|---------|
| 1 | John | 3 | 1000 |
| 2 | Dan | 3 | 2000 |
| 3 | Brad | null | 4000 |
| 4 | Thomas | 3 | 4000 |
- empId is the primary key column for this table.

Table: Bonus

| empId | bonus |
|-------|-------|
| 2 | 500 |
| 4 | 2000 |
- empId is the primary key column for this table.

**Select all employee's name and bonus whose bonus is < 1000.**

Example ouput:

| name | bonus |
|-------|-------|
| John | null |
| Dan | 500 |
| Brad | null |

In [0]:
schema_emp = "empId int, name string, supervisor int, salary int"
data_emp = [(1, "John",	3,	1000),
        (2, "Dan",	3,	2000),
        (3, "Brad",	None,	4000),
        (4, "Thomas",	3,	4000)]

df_emp = spark.createDataFrame(data = data_emp, schema = schema_emp)

display(df_emp)

In [0]:
schema_bonus = "empId int, bonus int"
data_bonus = [(2, 500), (4, 2000)]
df_bonus = spark.createDataFrame(data_bonus, schema_bonus)
display(df_bonus)

In [0]:
df_bonus_less_than_1000 = (df_emp
                           .join(df_bonus, ["empId"], "left")
                           .filter("bonus < 1000 or bonus is null")
                           .select("name", "bonus")
                           )
                           
df_bonus_less_than_1000.display()